:root{
 background-color:skyblue;
}
.first{
	background-color:black;
	color:white;
}
.first-para{
	color:black;
}
.last-para{
	color:red
}
li:first-child{
	background-color:white !important;
}
li:last-child{
	background-color:white !important;
}
li:nth-child(even){
	background-color:gray;
}
li:nth-child(odd){
	background-color:pink;	
}

